# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.egg-info/
dist/
build/

# Base de datos local
backend/db/harvey.db

# Credenciales
.env
token.json
credentials.json

# Node
frontend/node_modules/
frontend/dist/

# Editor
.vscode/
.idea/
*.swp
